body {
  background-color: #0D1117;
  font-family: Verdana;
 
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(88,9,121,1) 35%, rgba(7,72,245,1) 100%, rgba(0,212,255,1) 100%);          
}